.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.tgz
.env

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist
